.mobileValid {
    color: green;
}

.mobileInvalid {
    color: red;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.login-form {
  text-align: center;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form input[type="text"] {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-form input[type="text"].error {
  border-color: red;
}

.login-form button {
  width: calc(100% - 22px);
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

.login-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.login-form .verification-code {
  margin-top: 20px;
}

.login-form .verification-code input[type="text"] {
  width: calc(100% - 140px);
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}
